@import url(reset.css);

body {
    background-color: rgb(255, 255, 255);
}

#Menu-left {
    position: fixed;
    width: 30%;
    height: 100%;
    left: -30;
}

.toggle-btn {
    position: absolute;
    left: 30px;
    top: 15px;
}

.toggle-btn span {
    display: block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 6px;
}

.img-youtube {
    position: absolute;
    margin: 50px;
    top: -46px;
    left: 15px;
}