@import url(reset.css);

body {
    background-color: rgb(255, 255, 255);
}

#Menu-left {
    position: absolute;
    width: 30%;
    height: 100%;
    left: -30;
}

.toggle-btn {
    position: absolute;
    left: 30px;
    top: 15px;
}

.toggle-btn span {
    display: block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 6px;
}

.img-youtube {
    position: absolute;
    margin: 50px;
    top: -46px;
    left: 15px;
}

.Menu-center {
   display: flex;
   justify-content: center;
   padding: 5px;
}

.Barra-pesquisa {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap:6px;
}

.Barra-pesquisa i {
    cursor: pointer;
}

.Barra-pesquisa input {
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.Menu-right {
    display: flex;
    justify-content: right;
}

.icon-filmadora {
    position: absolute;
    left: 180vh;
    top: 25px;
}

.icon-lembrete {
    position: absolute;
    left: 190vh;
    top: 28px;
}

.avatar-icon {
    position: absolute;
    left: 199vh;
    top: 25px;
    border-radius: 20px;
}

.container {
    position: absolute;
    margin: 15px 0px 0px;
    padding: 400px;
    background-color: #f8f8f8;
}


.watching-video {
    position: absolute;
    margin: 50px;
    top: -30px;
    left: 100px;
}

.introdution-watching h1 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    margin: 150px;
    top: 440px;
    left: 10px;
    color: black;
}


.video-actions {
    position: absolute;
    margin: 55px;
    padding: 500px;
    left: -400px;
    display: flex;
    align-items: center;
}

.video-actions span {
    color: black;
    font-size: 14px;
    font-weight: bold;
}


h2 {
    text-align: center;
    margin-top: -50px;
    width: 3.5cm;
}

.subtitulo {
    margin-top: -18px;
    margin-left: 55px;
    color: #515151;
}

.button {
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-left: 200px;
    width: 150px;
    height: 40px;
    border: none;
    margin-top: -1.1cm;
}

.img-like {
    margin-left: 10.2cm;
    display: flex;
    margin-top: -35px;
}

.like-txt {
    font-size: 14px;
    text-align: center;
    margin-top: -0.6cm;
    margin-left: 11.2cm;
    display: flex;
}

.img-thumbs {
     display: flex;
     margin-left: 12.2cm;
     margin-top: -25px;
}

.thumbs-down {
    font-size: 14px;
    text-align: center;
    margin-top: -0.6cm;
    margin-left: 13cm;
    display: flex;
}

.img-compartilhar {
    display: flex;
    margin-left: 15.2cm;
    margin-top: -0.6cm;
    
}

.icon-compartilhar {
    font-size: 14px;
    text-align: center;
    margin-top: -0.6cm;
    margin-left: 16cm;
    display: flex;
}

.img-baixar {
    display: flex;
    margin-left: 18.5cm;
    margin-top: -0.8cm;
}

.icon-baixar {
    font-size: 14px;
    text-align: end;
    margin-top: -0.5cm;
    margin-left: 19.3cm;
    display: flex;
}



    