@import url(reset.css);

body {
    background-color: rgb(255, 255, 255);
}

#Menu-left {
    position: absolute;
    width: 30%;
    height: 100%;
    left: -30;
}

.toggle-btn {
    position: absolute;
    left: 30px;
    top: 15px;
}

.toggle-btn span {
    display: block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 6px;
}

.img-youtube {
    position: absolute;
    margin: 50px;
    top: -46px;
    left: 15px;
}

.Menu-center {
   display: flex;
   justify-content: center;
   padding: 5px;
}

.Barra-pesquisa {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap:6px;
}

.Barra-pesquisa i {
    cursor: pointer;
}

.Barra-pesquisa input {
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.Menu-right {
    display: flex;
    justify-content: right;
}

.icon-filmadora {
    position: absolute;
    left: 180vh;
    top: 25px;
}

.icon-lembrete {
    position: absolute;
    left: 190vh;
    top: 28px;
}

.avatar-icon {
    position: absolute;
    left: 199vh;
    top: 25px;
    border-radius: 20px;
}

.container {
    margin: 15px 0px 0px;
    padding: 400px;
    background-color: #f8f8f8;
}